@tailwind base;
@tailwind components;
@tailwind utilities;



.overflow-hidden {
  overflow: hidden;
}

.scale-up {
  scale: 1.50;
  opacity: 0;
}

.reveal-animate {
  animation: reveal 8s forwards;
}

@keyframes reveal {
  100% {
    opacity: 1;
  }
}

.align-vertical-text-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}